<h1>New game</h1>
<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'grid', @letters.join('') %>
  <%= hidden_field_tag 'start_time', Time.now %>
  <input type="text" name="attempt" id="attempt">
  <button type="submit">Make an attempt</button>
</form>
